.h2Title {
  margin-top: 10px;
  margin-bottom: 0;
}

/* ToDo: configure contact info table for mobile device
Check if screen width
.tdContact .thContact{
    display: table-row;
    white-space: nowrap;
    width: 100%;
  }
*/
td {
  vertical-align: top;
}

ul {
  /* Details */
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: #dcd9d0;
  background-image: url("img/seamless_paper_texture.png");
  max-width: 960px;
  margin: auto;
}

.tblContact img {
  height: 21px;
}

.tblEducationEntry, .tblInvolvementEntry {
  margin-right: 25px;
  vertical-align: top;
}

.h3Employer, .h3Location {
  margin: 0;
}

.headerContent {
  margin-top: 0;
  margin-bottom: 5px;
}
